<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.crm.CrmBankInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmBankInfo">
    <id column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
  </resultMap>
  <select id="selectCrmBankInfoByCompanyId" resultMap="BaseResultMap">
    select t1.BANK_ID, t1.BANK_NAME
    from CRM_BANK_INFO t1,CRM_COMPANY_BANK_REL t2
    where t1.BANK_ID = t2.BANK_ID
    and t2.COMPANY_ID = #{companyId,jdbcType=VARCHAR}
  </select>
</mapper>