<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.CrmCompanyStaffRelMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmCompanyStaffRel">
    <id column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
    <id column="STAFF_ID" jdbcType="VARCHAR" property="staffId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from CRM_COMPANY_STAFF_REL
    where COMPANY_ID = #{companyId,jdbcType=VARCHAR}
      and STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuoyou.tavern.protocol.crm.model.CrmCompanyStaffRel">
    insert into CRM_COMPANY_STAFF_REL (COMPANY_ID, STAFF_ID)
    values (#{companyId,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select COMPANY_ID, STAFF_ID
    from CRM_COMPANY_STAFF_REL
  </select>
</mapper>