<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmCompanyBankRelMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmCompanyBankRel">
    <id column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
    <id column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from CRM_COMPANY_BANK_REL
    where COMPANY_ID = #{companyId,jdbcType=VARCHAR}
      and BANK_ID = #{bankId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuoyou.tavern.protocol.crm.model.CrmCompanyBankRel">
    insert into CRM_COMPANY_BANK_REL (COMPANY_ID, BANK_ID)
    values (#{companyId,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select COMPANY_ID, BANK_ID
    from CRM_COMPANY_BANK_REL
  </select>
</mapper>