<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmCustomOrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmCustomOrderInfo">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId"/>
        <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId"/>
        <result column="ORDER_DATE" jdbcType="VARCHAR" property="orderDate"/>
        <result column="RECEIVABLE_AMT" jdbcType="DECIMAL" property="receivableAmt"/>
        <result column="PAYABLE_AMT" jdbcType="DECIMAL" property="payableAmt"/>
        <result column="ORDER_SOURCE" jdbcType="VARCHAR" property="orderSource"/>
    </resultMap>
    <select id="selectCrmOrderPage" resultType="com.tuoyou.tavern.protocol.crm.model.CrmCustomOrderInfoVO">
        select GROUP_CONCAT(t3.BUSINESS_NAME) businessName,ID id,t1.ORDER_ID orderId,
        CUSTOM_ID customId, ORDER_DATE orderDate, RECEIVABLE_AMT receivableAmt, PAYABLE_AMT payableAmt,ORDER_SOURCE orderSource
        from CRM_CUSTOM_ORDER_INFO t1 LEFT JOIN CRM_ORDER_BUSINESS_REL t2 on t1.ID = t2.ORDER_ID
        LEFT JOIN CRM_BUSINESS_DICT t3 on t2.BUSINESS_ID = t3.BUSINESS_ID

        <where>
            <if test="query.customId != null and query.customId != ''">
                and CUSTOM_ID = #{query.customId}
            </if>
        </where>
        group by t1.ID
        order by t1.ORDER_DATE
    </select>
    <insert id="insertOne">
        insert into CRM_CUSTOM_ORDER_INFO(ORDER_ID, CUSTOM_ID, ORDER_DATE, RECEIVABLE_AMT, PAYABLE_AMT,ORDER_SOURCE)
        values
        (#{orderId},#{customId},#{orderDate},#{receivableAmt},#{payableAmt},#{orderSource})
    </insert>
    <update id="updateOne">
        update CRM_CUSTOM_ORDER_INFO
        <set>
            <if test="orderId != null and orderId != ''">
                ORDER_ID =#{orderId},
            </if>
            <if test="customId != null and customId != ''">
                CUSTOM_ID =#{customId},
            </if>
            <if test="orderDate != null and orderDate != ''">
                ORDER_DATE =#{orderDate},
            </if>
            <if test="receivableAmt != null ">
                RECEIVABLE_AMT =#{receivableAmt},
            </if>
            <if test="payableAmt != null">
                PAYABLE_AMT =#{payableAmt},
            </if>
            <if test="orderSource != null and orderSource != ''">
                ORDER_SOURCE =#{orderSource},
            </if>


        </set>
        where ID = #{id}

    </update>
</mapper>