<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmOrderGszcDetailMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmOrderGszcDetail">
    <id column="EVENT_ID" jdbcType="VARCHAR" property="eventId" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="ABSENT" jdbcType="VARCHAR" property="absent" />
    <result column="REG_LOCATION_TYPE" jdbcType="VARCHAR" property="regLocationType" />
  </resultMap>
</mapper>