<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmOrderBusinessRelMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmOrderBusinessRel">
        <id column="EVENT_ID" jdbcType="VARCHAR" property="eventId"/>
        <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId"/>
        <result column="BUSINESS_ID" jdbcType="VARCHAR" property="businessId"/>
        <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId"/>
        <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId"/>
        <result column="NEED_THIRD_PARTY" jdbcType="VARCHAR" property="needThirdParty"/>
        <result column="THIRD_PARTY_ID" jdbcType="VARCHAR" property="thirdPartyId"/>
        <result column="THIRD_PARTY_FEE" jdbcType="DECIMAL" property="thirdPartyFee"/>
        <result column="BUSINESS_TAG" jdbcType="VARCHAR" property="businessTag"/>
        <result column="PRE_EVENT_ID" jdbcType="VARCHAR" property="preEventId"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="OWNER" jdbcType="VARCHAR" property="owner"/>
    </resultMap>
    <select id="selectCrmOrderBusinessPage" resultType="com.tuoyou.tavern.protocol.crm.model.CrmOrderBusinessRelVO">
        select
            t1.EVENT_ID eventId,
            t4.ORDER_ID orderId,
            t1.BUSINESS_ID businessId,
            t3.BUSINESS_NAME businessName,
            t2.COMPANY_ID companyId,
            t2.COMPANY_NAME companyName,
            t1.OWNER_ID ownerId,
            t1.OWNER owner,
            t1.NEED_THIRD_PARTY needThirdParty,
            t1.THIRD_PARTY_ID thirdPartyId,
            t1.THIRD_PARTY_FEE thirdPartyFee,
            t1.BUSINESS_TAG businessTag,
            t1.PRE_EVENT_ID preEventId,
            t1.REMARK remark,
            DATE_FORMAT(t1.CREATE_DATE,'%Y-%m-%d %H:%i:%s') createDate,
            t5.BEGIN_DATE dljzBeginDate,
            t5.END_DATE dljzEndDate,
            t5.IS_BEGIN dljzEndDate,
            t5.DIFF dljzDiff,
            t6.BEGIN_DATE gjjsbdjBeginDate,
            t6.END_DATE gjjsbdjEndDate,
             t6.DIFF gjjsbdjDiff,
            t6.EMPLOYEE_NUM employeeNum,
            t7. ABSENT absent,
            t7.REG_LOCATION_TYPE regLocationType
        from CRM_ORDER_BUSINESS_REL t1
         LEFT JOIN CRM_COMPANY_INFO t2 on t1.COMPANY_ID = t2.COMPANY_ID
         LEFT JOIN CRM_ORDER_DLJZ_DETAIL t5 on t1.EVENT_ID = t5.EVENT_ID
         LEFT JOIN CRM_ORDER_GJJSBDJ_DETAIL t6 on t1.EVENT_ID = t6.EVENT_ID
         LEFT JOIN CRM_ORDER_GSZC_DETAIL t7 on t1.EVENT_ID = t7.EVENT_ID
        ,
        CRM_BUSINESS_DICT t3,
        CRM_CUSTOM_ORDER_INFO t4
        where t1.BUSINESS_ID = t3.BUSINESS_ID
        and t1.ORDER_ID = t4.ID
        and t1.ORDER_ID = #{query.orderId}
        order by t1.CREATE_DATE desc
  </select>
    <select id="selectCrmCompanyOrderDetail" resultType="com.tuoyou.tavern.protocol.crm.model.CrmCompanyOrderDetailVO">
        select
            t2.ORDER_ID orderId,
            t2.RECEIVABLE_AMT receivableAmt,
            t4.COMPANY_NAME companyName,
           t6.CUSTOM_NAME customName,
            t4.DISTRICT district,
            t6.CONTACT_NUMBER contactNumber,
            t6.WANGWANG_ACCNT wangwangAccnt,
            t7.EMPLOYEE_NUM employeeNum,
            DATE_FORMAT(t3.BEGIN_DATE,'%Y-%m-%d %H:%i:%s') beginDate,
            DATE_FORMAT(t3.END_DATE,'%Y-%m-%d %H:%i:%s') endDate

        from
            CRM_ORDER_BUSINESS_REL t1
			LEFT JOIN CRM_COMPANY_BUSINESS t3 on  t1.BUSINESS_ID = t3.BUSINESS_ID and t1.COMPANY_ID = t3.COMPANY_ID
			LEFT JOIN CRM_COMPANY_INFO t4 on t3.COMPANY_ID = t4.COMPANY_ID
            LEFT JOIN CRM_ORDER_GJJSBDJ_DETAIL t7 on t1.ORDER_ID = t7.ORDER_ID and t1.BUSINESS_ID = t7.BUSINESS_ID,
            CRM_CUSTOM_ORDER_INFO t2,
			CRM_CUSTOM_BASIC_INFO t6
            where
            t1.ORDER_ID = t2.ID
			and t2.CUSTOM_ID = t6.CUSTOM_ID
            and t1.EVENT_ID = #{eventId}
            and t4.COMPANY_ID = #{companyId}
    </select>
</mapper>