<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmOrderBusinessRelMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmOrderBusinessRel">
        <id column="EVENT_ID" jdbcType="VARCHAR" property="eventId"/>
        <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId"/>
        <result column="BUSINESS_ID" jdbcType="VARCHAR" property="businessId"/>
        <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId"/>
        <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId"/>
        <result column="NEED_THIRD_PARTY" jdbcType="VARCHAR" property="needThirdParty"/>
        <result column="THIRD_PARTY_ID" jdbcType="VARCHAR" property="thirdPartyId"/>
        <result column="THIRD_PARTY_FEE" jdbcType="DECIMAL" property="thirdPartyFee"/>
        <result column="BUSINESS_TAG" jdbcType="VARCHAR" property="businessTag"/>
        <result column="PRE_EVENT_ID" jdbcType="VARCHAR" property="preEventId"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="OWNER" jdbcType="VARCHAR" property="owner"/>
    </resultMap>
    <select id="selectCrmOrderBusinessPage" resultType="com.tuoyou.tavern.protocol.crm.model.CrmOrderBusinessRelVO">
        select
            t1.EVENT_ID eventId,
            t1.ORDER_ID orderId,
            t1.BUSINESS_ID businessId,
            t3.BUSINESS_NAME businessName,
            t2.COMPANY_ID companyId,
            t2.COMPANY_NAME companyName,
            t1.OWNER_ID ownerId,
            t1.OWNER owner,
            t1.NEED_THIRD_PARTY needThirdParty,
            t1.THIRD_PARTY_ID thirdPartyId,
            t1.THIRD_PARTY_FEE thirdPartyFee,
            t1.BUSINESS_TAG businessTag,
            t1.PRE_EVENT_ID preEventId,
            t1.REMARK remark,
            DATE_FORMAT(t1.CREATE_DATE,'%Y-%m-%d %H:%i:%s') createDate
        from CRM_ORDER_BUSINESS_REL t1,CRM_COMPANY_INFO t2,CRM_BUSINESS_DICT t3
        where t1.BUSINESS_ID = t3.BUSINESS_ID
        and t1.COMPANY_ID = t2.COMPANY_ID
        and t1.ORDER_ID = #{query.orderId}
  </select>
</mapper>