<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmOrderDljzDetailMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmOrderDljzDetail">
    <id column="EVENT_ID" jdbcType="VARCHAR" property="eventId" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="BEGIN_DATE" jdbcType="DATE" property="beginDate" />
    <result column="END_DATE" jdbcType="DATE" property="endDate" />
    <result column="IS_BEGIN" jdbcType="VARCHAR" property="isBegin" />
    <result column="DIFF" jdbcType="VARCHAR" property="diff" />
  </resultMap>
</mapper>