<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.crm.dao.CrmThirdPartyInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmThirdPartyInfo">
    <id column="THIRD_PARTY_ID" jdbcType="VARCHAR" property="thirdPartyId" />
    <result column="THIRD_PARTY_NAME" jdbcType="VARCHAR" property="thirdPartyName" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="DELIVERY_ADDR" jdbcType="VARCHAR" property="deliveryAddr" />
    <result column="CONTACT1" jdbcType="VARCHAR" property="contact1" />
    <result column="CONTACT_NUMBER1" jdbcType="VARCHAR" property="contactNumber1" />
    <result column="CONTACT_WECHAT1" jdbcType="VARCHAR" property="contactWechat1" />
    <result column="CONTACT2" jdbcType="VARCHAR" property="contact2" />
    <result column="CONTACT_NUMBER2" jdbcType="VARCHAR" property="contactNumber2" />
    <result column="CONTACT_WECHAT2" jdbcType="VARCHAR" property="contactWechat2" />
  </resultMap>
  <select id="selectPage" resultMap="BaseResultMap">
    SELECT  * FROM CRM_CUSTOM_THIRD_PARTY_INFO
    <where>
      <if test="query.thirdPartyName != null and query.thirdPartyName != ''">
        and THIRD_PARTY_NAME like concat('%', #{query.thirdPartyName}, '%')
      </if>
      <if test="query.province != null and query.province != ''">
        and PROVINCE like concat('%', #{query.province}, '%')
      </if>
      <if test="query.city != null and query.city != ''">
        and CITY like concat('%', #{query.city}, '%')
      </if>
      <if test="query.district != null and query.district != ''">
        and DISTRICT like concat('%', #{query.district}, '%')
      </if>
    </where>
  </select>
</mapper>