<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.CrmBankInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.entity.CrmBankInfo">
    <id column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRM_BANK_INFO
    where BANK_ID = #{bankId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuoyou.tavern.crm.entity.CrmBankInfo">
    insert into CRM_BANK_INFO (BANK_ID, BANK_NAME)
    values (#{bankId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuoyou.tavern.crm.entity.CrmBankInfo">
    update CRM_BANK_INFO
    set BANK_NAME = #{bankName,jdbcType=VARCHAR}
    where BANK_ID = #{bankId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select BANK_ID, BANK_NAME
    from CRM_BANK_INFO
    where BANK_ID = #{bankId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select BANK_ID, BANK_NAME
    from CRM_BANK_INFO
  </select>
</mapper>