<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.CrmCustomOrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.crm.model.CrmCustomOrderInfo">
        <id column="ORDER_ID" jdbcType="VARCHAR" property="orderId"/>
        <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId"/>
        <result column="ORDER_DATE" jdbcType="VARCHAR" property="orderDate"/>
        <result column="RECEIVABLE_AMT" jdbcType="DECIMAL" property="receivableAmt"/>
        <result column="PAYABLE_AMT" jdbcType="DECIMAL" property="payableAmt"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select ORDER_ID, CUSTOM_ID, ORDER_DATE, RECEIVABLE_AMT, PAYABLE_AMT
        from CRM_CUSTOM_ORDER_INFO
        <where>
            <if test="query.customId != null and query.customId != ''">
                and CUSTOM_ID = #{query.customId}
            </if>
        </where>
    </select>
</mapper>