<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.bank.dao.BankStatementDtlCcblRecordMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.BankStatementDtlCcblRecord">
        <id column="DETAIL_ID" jdbcType="VARCHAR" property="detailId"/>
        <result column="CUSTOM_ACCNT_ID" jdbcType="VARCHAR" property="customAccntId"/>
        <result column="CUSTOM_ACCNT_NAME" jdbcType="VARCHAR" property="customAccntName"/>
        <result column="TRADE_DATE" jdbcType="DATE" property="tradeDate"/>
        <result column="DEBIT_AMOUNT" jdbcType="DECIMAL" property="debitAmount"/>
        <result column="CREDIT_AMOUNT" jdbcType="DECIMAL" property="creditAmount"/>
        <result column="BALANCE" jdbcType="DECIMAL" property="balance"/>
        <result column="COIN_CODE" jdbcType="VARCHAR" property="coinCode"/>
        <result column="RECV_ACCNT_ID" jdbcType="VARCHAR" property="recvAccntId"/>
        <result column="RECV_ACCNT_NAME" jdbcType="VARCHAR" property="recvAccntName"/>
        <result column="INSTITUTION" jdbcType="VARCHAR" property="institution"/>
        <result column="ACCOUNTING_DATE" jdbcType="DATE" property="accountingDate"/>
        <result column="COMPANY_SEQ" jdbcType="VARCHAR" property="companySeq"/>
        <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType"/>
        <result column="CERTIFICATE_ID" jdbcType="VARCHAR" property="certificateId"/>
        <result column="FILE_ID" jdbcType="VARCHAR" property="fileId"/>
    </resultMap>
    <sql id="dtlSql">
    DETAIL_ID, CUSTOM_ACCNT_ID, CUSTOM_ACCNT_NAME, TRADE_DATE, DEBIT_AMOUNT, CREDIT_AMOUNT,
    BALANCE, COIN_CODE, RECV_ACCNT_ID, RECV_ACCNT_NAME, INSTITUTION, ACCOUNTING_DATE,
    COMPANY_SEQ, CERTIFICATE_TYPE, CERTIFICATE_ID, FILE_ID
  </sql>
    <select id="selectBankStatementDtlRecord" resultMap="BaseResultMap">
        select
        <include refid="dtlSql"/>
        from alr_bank_statement_record t1,
        ALR_BANK_STATEMENT_DTL_CCBL_RECORD t2
        where t1.FILE_ID = t2.FILE_ID
        and t1.BATCH_ID = #{query.batchId}
        <if test="query.startTradeDate != null and query.startTradeDate != ''">
            and t2.TRADE_DATE >= date_format(#{query.startTradeDate},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="query.endTradeDate != null and query.endTradeDate != ''">
            and t2.TRADE_DATE <![CDATA[ <= ]]> date_format(#{query.endTradeDate},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="query.recvAccntId != null and query.recvAccntId != ''">
            and t1.BATCH_ID = #{query.recvAccntId}
        </if>
    </select>
    <select id="selectRecvAccntIdDict" resultMap="BaseResultMap">
        select
        t2.DETAIL_ID, t2.CUSTOM_ACCNT_ID, t2.CUSTOM_ACCNT_NAME, t2.TRADE_DATE, t2.DEBIT_AMOUNT, t2.CREDIT_AMOUNT,
    t2.BALANCE, t2.COIN_CODE, t2.RECV_ACCNT_ID, t2.RECV_ACCNT_NAME, t2.INSTITUTION, t2.ACCOUNTING_DATE,
    t2.COMPANY_SEQ, t2.CERTIFICATE_TYPE, t2.CERTIFICATE_ID, t2.FILE_ID
        from alr_bank_statement_record t1,
        ALR_BANK_STATEMENT_DTL_CCBL_RECORD t2
        where t1.FILE_ID = t2.FILE_ID
        and t1.BATCH_ID = #{batchId}
        and t2.RECV_ACCNT_ID like concat('%', #{recvAccntId}, '%')
    </select>

</mapper>