<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.bank.dao.BankStatementRecordMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.BankStatementRecord">
    <id column="FILE_ID" jdbcType="VARCHAR" property="fileId" />
    <result column="BATCH_ID" jdbcType="VARCHAR" property="batchId" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="ACCOUNT_PERIOD" jdbcType="DATE" property="accountPeriod" />
    <result column="IS_VALID" jdbcType="VARCHAR" property="isValid" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
  </resultMap>

  <sql id="recordSql">
    FILE_ID,BATCH_ID,FILE_NAME,ACCOUNT_PERIOD,IS_VALID,UPDATE_DATE,CUSTOM_ID,BANK_ID
  </sql>

  <update id="updateStatus" >
    update ALR_BANK_STATEMENT_RECORD
    set IS_VALID = #{valid},
     UPDATE_DATE = now()
    where BATCH_ID = #{batchId}
  </update>

  <select id="selectBankStatementRecord" resultMap="BaseResultMap">
    select
     t1.BATCH_ID BATCH_ID,
     t1.UPDATE_DATE UPDATE_DATE,
     t2.ACCOUNT_PERIOD ACCOUNT_PERIOD,
     t2.FILE_NAME FILE_NAME
    from ALR_FILE_UPLOAD_RECORD t1,ALR_BANK_STATEMENT_RECORD t2
    <where>
      t1.BATCH_ID = t2.BATCH_ID
      and t1.IS_VALID = '1'
      and t2.IS_VALID = '1'
      <if test="query.companyName != null and query.companyName != ''">
        and t2.FILE_NAME like concat('%', #{query.companyName}, '%')
      </if>
    </where>

    GROUP BY t1.BATCH_ID,t1.UPDATE_DATE,t2.ACCOUNT_PERIOD,t2.FILE_NAME
    ORDER BY t1.UPDATE_DATE desc


  </select>



</mapper>