<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.invoice.dao.ExtraInvoiceRecordMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.ExtraInvoiceRecord">
    <id column="RECORD_ID" jdbcType="VARCHAR" property="recordId" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="ACCOUNT_PERIOD" jdbcType="DATE" property="accountPeriod" />
    <result column="INVOICE_TYPE" jdbcType="VARCHAR" property="invoiceType" />
    <result column="TOTAL_AMOUNT" jdbcType="DECIMAL" property="totalAmount" />
    <result column="ITEM_COUNT" jdbcType="DECIMAL" property="itemCount" />
  </resultMap>

  <sql id="allSql">
    RECORD_ID, CUSTOM_ID, ACCOUNT_PERIOD,
    INVOICE_TYPE, TOTAL_AMOUNT, ITEM_COUNT
  </sql>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="allSql"/>
    from ALR_EXTRA_INVOICE_RECORD
    <where>
      IS_VALID = '1'
      <if test="query.accountPeriod != null and query.accountPeriod != ''">
        and TRADE_DATE >= date_format(CONCAT(#{query.accountPeriod},' 00:00:00'),'%Y/%m/%d %H:%i:%s')
      </if>
      <if test="query.accountPeriod != null and query.accountPeriod != ''">
        and TRADE_DATE <![CDATA[ <= ]]> date_format(CONCAT(#{query.accountPeriod},' 23:59:59'),'%Y/%m/%d %H:%i:%s')
      </if>
      <if test="query.customId != null and query.customId != ''">
        and CUSTOM_ID like CONCAT('*',#{query.customId},'*')
      </if>
    </where>
    order by RECORD_ID desc
  </select>

</mapper>