<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.common.dao.FileUploadRecordMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.FileUploadRecord">
        <id column="BATCH_ID" jdbcType="VARCHAR" property="batchId"/>
        <result column="PACKAGE_NAME" jdbcType="VARCHAR" property="packageName"/>
        <result column="FILE_COUNT" jdbcType="INTEGER" property="fileCount"/>
        <result column="UPLOAD_DATE" jdbcType="DATE" property="uploadDate"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="OPERATOR" jdbcType="VARCHAR" property="operator"/>
        <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate"/>
        <result column="IS_VALID" jdbcType="VARCHAR" property="isValid"/>
        <result column="PACKAGE_TYPE" jdbcType="VARCHAR" property="packageType"/>
    </resultMap>

    <sql id="recodeSql">
    BATCH_ID, PACKAGE_NAME, FILE_COUNT, UPLOAD_DATE, STATUS, OPERATOR, UPDATE_DATE,
    IS_VALID, PACKAGE_TYPE
  </sql>
    <select id="selectFileUploadRecordPage" resultMap="BaseResultMap">
        SELECT
        <include refid="recodeSql"/>
        FROM
        ALR_FILE_UPLOAD_RECORD
        <where>
            <if test="query.fileType != null and query.fileType != ''">
                and PACKAGE_TYPE = #{query.fileType}
            </if>
            <if test="query.status != null and query.status != ''">
                and STATUS = #{query.status}
            </if>
            ORDER BY UPDATE_DATE DESC
        </where>
    </select>

</mapper>