<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.common.dao.InvoiceTypeDictMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.InvoiceTypeDict">
    <id column="INVOICE_TYPE" jdbcType="VARCHAR" property="invoiceType" />
    <result column="INVOICE_TYPE_NAME" jdbcType="VARCHAR" property="invoiceTypeName" />
  </resultMap>
</mapper>