<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.invoice.dao.StdInvoiceRecordMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.StdInvoiceRecord">
    <id column="FILE_ID" jdbcType="VARCHAR" property="fileId" />
    <result column="BATCH_ID" jdbcType="VARCHAR" property="batchId" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="ACCOUNT_PERIOD" jdbcType="DATE" property="accountPeriod" />
    <result column="IS_VALID" jdbcType="VARCHAR" property="isValid" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="FINANCE_DISK_TYPE" jdbcType="VARCHAR" property="financeDiskType" />
  </resultMap>
  <sql id="invoiceSql">
    FILE_ID, BATCH_ID, FILE_NAME,
      ACCOUNT_PERIOD, IS_VALID, UPDATE_DATE,
      CUSTOM_ID, FINANCE_DISK_TYPE
  </sql>
  <select id="selectStdInvoiceRecord" resultMap="BaseResultMap">
    select
    FILE_ID, BATCH_ID, FILE_NAME,
    ACCOUNT_PERIOD, IS_VALID, UPDATE_DATE,
    CUSTOM_ID, FINANCE_DISK_TYPE
    from ALR_STD_INVOICE_RECORD
    <where>
       <if test="query.companyName != null and query.companyName != ''">
         and FILE_NAME like concat('%', #{query.companyName}, '%')
       </if>
       IS_VALID = 1
       <if test="query.batchId != null and query.batchId != ''">
        and BATCH_ID = #{query.batchId}
      </if>
      ORDER BY UPDATE_DATE DESC
    </where>
  </select>



</mapper>