<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.alleria.invoice.dao.TaxScanResultMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.alleria.model.TaxScanResult">
        <id column="FILE_ID" jdbcType="VARCHAR" property="fileId"/>
        <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
        <result column="IS_VALID" jdbcType="VARCHAR" property="isValid"/>
        <result column="IS_VERIFIED" jdbcType="VARCHAR" property="isVerified"/>
        <result column="IS_EMEND" jdbcType="VARCHAR" property="isEmend"/>
        <result column="INVOICE_ID" jdbcType="VARCHAR" property="invoiceId"/>
        <result column="INVOICE_CODE" jdbcType="VARCHAR" property="invoiceCode"/>
        <result column="INVOICE_DATE" jdbcType="VARCHAR" property="invoiceDate"/>
        <result column="CHECK_CODE" jdbcType="VARCHAR" property="checkCode"/>
        <result column="TAX_FREE_AMOUNT" jdbcType="VARCHAR" property="taxFreeAmount"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="BATCH_ID" jdbcType="VARCHAR" property="batchId"/>
        <result column="OPERATOR" jdbcType="VARCHAR" property="operator"/>
        <result column="FAILED_REASON" jdbcType="VARCHAR" property="failedReason"/>
    </resultMap>

    <sql id="scanSql">
      FILE_ID, FILE_NAME, IS_VALID,
      IS_VERIFIED, IS_EMEND, INVOICE_ID,
      INVOICE_CODE, INVOICE_DATE, CHECK_CODE,
      TAX_FREE_AMOUNT, UPDATE_DATE, BATCH_ID,
      OPERATOR, FAILED_REASON
    </sql>

    <select id="selectTaxScanResult" resultMap="BaseResultMap">
        select
        <include refid="scanSql"/>
        from ALR_VALUE_ADDED_TAX_SCAN_RESULT
        <where>
            <if test="query.verify != null and query.verify != ''">
                and IS_VERIFIED = #{query.verify}
            </if>
            <if test="query.emend != null and query.emend != ''">
                and IS_EMEND = #{query.emend}
            </if>
            <if test="query.batchId != null and query.batchId != ''">
                and BATCH_ID = #{query.batchId}
            </if>
            ORDER BY UPDATE_DATE DESC
        </where>
    </select>
</mapper>