<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.workflow.WorkFlowEventDependencyMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.entity.WorkFlowEventDependency">
    <id column="pre_event" jdbcType="VARCHAR" property="preEvent" />
    <result column="next_event" jdbcType="VARCHAR" property="nextEvent" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from workflow_event_dependency
    where pre_event = #{preEvent,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuoyou.tavern.crm.entity.WorkFlowEventDependency">
    insert into workflow_event_dependency (pre_event, next_event, create_date
      )
    values (#{preEvent,jdbcType=VARCHAR}, #{nextEvent,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuoyou.tavern.crm.entity.WorkFlowEventDependency">
    update workflow_event_dependency
    set next_event = #{nextEvent,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE}
    where pre_event = #{preEvent,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select pre_event, next_event, create_date
    from workflow_event_dependency
    where pre_event = #{preEvent,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select pre_event, next_event, create_date
    from workflow_event_dependency
  </select>
</mapper>