<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowEventMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowEvent">
        <id column="event_id" jdbcType="VARCHAR" property="eventId"/>
        <result column="graph_id" jdbcType="VARCHAR" property="graphId"/>
        <result column="cur_node_id" jdbcType="VARCHAR" property="curNodeId"/>
        <result column="event_owner" jdbcType="VARCHAR" property="eventOwner"/>
        <result column="cur_operator" jdbcType="VARCHAR" property="curOperator"/>
        <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate"/>
    </resultMap>
    <insert id="insertWorkFlowEvent">
      insert into workflow_event (event_id, graph_id, cur_node_id,
      event_owner, cur_operator, begin_date
      )
        select
        #{event.eventId},
        t2.graph_id,
        t3.target_node,
        t3.target_node,
        #{event.curOperator},
        #{event.beginDate}
        from workflow_def_graph_business_rel t1,workflow_def_graph t2,workflow_def_edge t3
        where t1.graph_id = t2.graph_id
        and t2.root_node = t3.source_node
        and t1.business_id = #{businessId}
  </insert>
    <select id="selectMyPendingWork" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.MyTodoListVO">
        SELECT
        T.ORDER_ID orderId,
        T1.BUSINESS_ID businessId,
        T7.event_id eventId,
        T3.CUSTOM_NAME customName,
        T3.WANGWANG_ACCNT wangwangAccnt,
        T2.COMPANY_NAME companyName,
        T2.COMPANY_ID companyId,
        T2.CITY city,
        T2.DISTRICT district,
        T1.REMARK remark,
        T3.WEIXIN_NAME weixinName,
        T4.BUSINESS_NAME businessName,
        DATEDIFF(NOW(),T5.BEGIN_DATE) cost,
        DATEDIFF(T5.END_DATE,NOW()) maxLeftDay,
        T1.BUSINESS_TAG businessTag,
        T1.CREATE_DATE createDate,
        T3.CUSTOM_LEVEL customLevel,
        T8.name curNodeName,
        T8.node_id curNodeId,
        T7.cur_operator_name curOperatorName
        FROM
        crm.CRM_CUSTOM_ORDER_INFO T,
        crm.CRM_ORDER_BUSINESS_REL T1,
        crm.CRM_COMPANY_INFO T2,
        crm.CRM_CUSTOM_BASIC_INFO T3,
        crm.CRM_BUSINESS_DICT T4,
        crm.CRM_COMPANY_BUSINESS T5,
        work_flow.workflow_def_graph_business_rel T6,
        work_flow.workflow_event T7,
        work_flow.workflow_def_node T8

        <where>
            T.ORDER_ID = T1.ORDER_ID
            AND T1.COMPANY_ID = T2.COMPANY_ID
            AND T.CUSTOM_ID = T3.CUSTOM_ID
            AND T1.BUSINESS_ID = T4.BUSINESS_ID
            AND T1.BUSINESS_ID = T5.BUSINESS_ID
            AND T1.BUSINESS_ID = T6.business_id
            AND T7.cur_node_id = T8.node_id
            AND not exists(select 1 from work_flow.workflow_event_dependency T9 where T7.event_id = T9.next_event)
            AND (T7.event_owner = #{query.userId} or T7.cur_operator = #{query.userId})
            <if test="query.city != null and query.city != ''">
                and T2.CITY like concat('%', #{query.city}, '%')
            </if>
            <if test="query.district != null and query.district != ''">
                and T2.DISTRICT like concat('%', #{query.district}, '%')
            </if>
            <if test="query.companyName != null and query.companyName != ''">
                and T2.COMPANY_NAME like concat('%', #{query.companyName}, '%')
            </if>
            <if test="query.customName != null and query.customName != ''">
                and T3.CUSTOM_NAME like concat('%', #{query.customName}, '%')
            </if>
            <if test="query.customLevel != null and query.customLevel != ''">
                and T3.CUSTOM_LEVEL like concat('%', #{query.customLevel}, '%')
            </if>
            <if test="query.curNodeName != null and query.curNodeName != ''">
                and T8.name like concat('%', #{query.curNodeName}, '%')
            </if>
            <if test="query.weixinName != null and query.weixinName != ''">
                and T3.WEIXIN_NAME like concat('%', #{query.weixinName}, '%')
            </if>
            <if test="query.createDate != null and query.createDate != ''">
                and DATE_FORMAT(T1.CREATE_DATE,'%Y%m%d') = #{query.createDate}
            </if>
            <if test="query.businessName != null and query.businessName != ''">
                and T4.BUSINESS_NAME like concat('%', #{query.businessName}, '%')
            </if>
            <if test="query.businessTag != null and query.businessTag != ''">
                and T1.BUSINESS_TAG like concat('%', #{query.businessTag}, '%')
            </if>
        </where>
    </select>
    <select id="selectAllWorkEvent" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.MyTodoListVO">
        SELECT
        T.ORDER_ID orderId,
        T1.BUSINESS_ID businessId,
        T7.event_id eventId,
        T3.CUSTOM_NAME customName,
        T3.WANGWANG_ACCNT wangwangAccnt,
        T2.COMPANY_NAME companyName,
        T2.COMPANY_ID companyId,
        T2.CITY city,
        T2.DISTRICT district,
        T1.REMARK remark,
        T3.WEIXIN_NAME weixinName,
        T4.BUSINESS_NAME businessName,
        DATEDIFF(NOW(),T5.BEGIN_DATE) cost,
        DATEDIFF(T5.END_DATE,NOW()) maxLeftDay,
        T1.BUSINESS_TAG businessTag,
        T1.CREATE_DATE createDate,
        T3.CUSTOM_LEVEL customLevel,
        T8.name curNodeName,
        T8.node_id curNodeId,
        T7.cur_operator_name curOperatorName
        FROM
        crm.CRM_CUSTOM_ORDER_INFO T,
        crm.CRM_ORDER_BUSINESS_REL T1,
        crm.CRM_COMPANY_INFO T2,
        crm.CRM_CUSTOM_BASIC_INFO T3,
        crm.CRM_BUSINESS_DICT T4,
        crm.CRM_COMPANY_BUSINESS T5,
        work_flow.workflow_def_graph_business_rel T6,
        work_flow.workflow_event T7,
        work_flow.workflow_def_node T8

        <where>
            T.ORDER_ID = T1.ORDER_ID
            AND T1.COMPANY_ID = T2.COMPANY_ID
            AND T.CUSTOM_ID = T3.CUSTOM_ID
            AND T1.BUSINESS_ID = T4.BUSINESS_ID
            AND T1.BUSINESS_ID = T5.BUSINESS_ID
            AND T1.BUSINESS_ID = T6.business_id
            AND T7.cur_node_id = T8.node_id
            AND not exists(select 1 from work_flow.workflow_event_dependency T9 where T7.event_id = T9.next_event)
            <if test="query.city != null and query.city != ''">
                and T2.CITY like concat('%', #{query.city}, '%')
            </if>
            <if test="query.district != null and query.district != ''">
                and T2.DISTRICT like concat('%', #{query.district}, '%')
            </if>
            <if test="query.companyName != null and query.companyName != ''">
                and T2.COMPANY_NAME like concat('%', #{query.companyName}, '%')
            </if>
            <if test="query.customName != null and query.customName != ''">
                and T3.CUSTOM_NAME like concat('%', #{query.customName}, '%')
            </if>
            <if test="query.customLevel != null and query.customLevel != ''">
                and T3.CUSTOM_LEVEL like concat('%', #{query.customLevel}, '%')
            </if>
            <if test="query.curNodeName != null and query.curNodeName != ''">
                and T8.name like concat('%', #{query.curNodeName}, '%')
            </if>
            <if test="query.weixinName != null and query.weixinName != ''">
                and T3.WEIXIN_NAME like concat('%', #{query.weixinName}, '%')
            </if>
            <if test="query.createDate != null and query.createDate != ''">
                and DATE_FORMAT(T1.CREATE_DATE,'%Y%m%d') = #{query.createDate}
            </if>
            <if test="query.businessName != null and query.businessName != ''">
                and T4.BUSINESS_NAME like concat('%', #{query.businessName}, '%')
            </if>
            <if test="query.businessTag != null and query.businessTag != ''">
                and T1.BUSINESS_TAG like concat('%', #{query.businessTag}, '%')
            </if>
        </where>
        order by T1.CREATE_DATE desc
    </select>
</mapper>