<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowDefNodeMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowDefNode">
        <id column="node_id" jdbcType="VARCHAR" property="nodeId"/>
        <result column="graph_id" jdbcType="VARCHAR" property="graphId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
    </resultMap>
    <select id="selectWorkFlowDefNodeByBusiness" resultMap="BaseResultMap">
        select t1.node_id, t1.graph_id, t1.name, t1.role
        from workflow_def_node t1,workflow_def_graph t2,workflow_def_graph_business_rel t3,workflow_def_edge t4
        where t1.node_id = t4.target_node
        and t2.graph_id = t3.graph_id
        and t2.root_node = t4.source_node
        and t3.business_id = #{business}
    </select>
    <select id="selectWorkFlowDefNode" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.WorkFlowDefNodeVO">
        SELECT t3.graph_id graphId,t3.node_id nodeId,t3.name,t3.role FROM workflow_def_graph_business_rel t1,
        workflow_def_edge t2,workflow_def_node t3
        where t1.graph_id = t2.graph_id
        and t2.target_node = t3.node_id
        and t1.business_id = #{query.businessId}
        and t2.source_node = #{query.curNode}
    </select>
    <select id="selectWorkFlowRootNextNode"
            resultType="com.tuoyou.tavern.protocol.crm.model.workflow.WorkFlowDefNodeVO">
        SELECT t3.graph_id graphId,t3.node_id nodeId,t3.name,t3.role FROM workflow_def_graph_business_rel t1,
        workflow_def_edge t2,workflow_def_node t3,workflow_def_graph t4
        where t1.graph_id = t2.graph_id
        and t2.target_node = t3.node_id
        and t1.graph_id = t4.graph_id
        and t2.source_node = t4.root_node
        and t1.business_id = #{businessId}
    </select>
</mapper>