<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowEventHistoryMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowEventHistory">
    <id column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="graph_id" jdbcType="VARCHAR" property="graphId" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="next_node_id" jdbcType="VARCHAR" property="nextNodeId" />
    <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>

  <insert id="insertWorkFlowEventFirstNodeHistory">
      insert into workflow_event_history (event_id, graph_id, node_id,next_node_id,
      begin_date, end_date, operator
      )
        select
        #{event.eventId},
        t2.graph_id,
        t2.root_node,
        t3.target_node,
        #{event.beginDate},
        #{event.endDate},
        #{event.operator}
        from workflow_def_graph_business_rel t1,workflow_def_graph t2,workflow_def_edge t3
        where t1.graph_id = t2.graph_id
        and t2.root_node = t3.source_node
        and t1.business_id = #{businessId}
      <if test="event.nextNodeId != null and event.nextNodeId != ''">
        and t3.target_node =  #{event.nextNodeId}
      </if>
  </insert>
  <insert id="insertWorkFlowEventHistory">
      insert into workflow_event_history (event_id, graph_id, node_id,next_node_id,
      begin_date, end_date, operator
      )
        select
        #{event.eventId},
        t2.graph_id,
        t3.target_node,
         #{event.beginDate},
        #{event.endDate},
        #{event.operator}
        from workflow_def_graph_business_rel t1,workflow_def_graph t2,workflow_def_edge t3
        where t1.graph_id = t2.graph_id
        and t2.root_node = t3.source_node
        and t1.business_id = #{businessId}
  </insert>
</mapper>