<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowLogMessageMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowLogMessage">
    <id column="log_id" jdbcType="VARCHAR" property="logId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="has_attachment" jdbcType="VARCHAR" property="hasAttachment" />
    <result column="attachments_path" jdbcType="VARCHAR" property="attachmentsPath" />
  </resultMap>
  <select id="selectWorkFlowLogMessagePage" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.WorkFlowLogVO">
    select
    log_id logId,
    operator,
    operator_id operatorId,
    create_time createTime,
    message,
    event_id eventId,
    has_attachment hasAttachment,
    attachments_path attachmentsPath
    from workflow_log_message
    where event_id = #{eventId}
    order by create_time desc
  </select>
</mapper>