<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowDefEdgeMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowDefEdge">
    <id column="edge_id" jdbcType="VARCHAR" property="edgeId" />
    <result column="graph_id" jdbcType="VARCHAR" property="graphId" />
    <result column="source_node" jdbcType="VARCHAR" property="sourceNode" />
    <result column="target_node" jdbcType="VARCHAR" property="targetNode" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from workflow_def_edge
    where edge_id = #{edgeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuoyou.tavern.crm.workflow.entity.WorkFlowDefEdge">
    insert into workflow_def_edge (edge_id, graph_id, source_node, 
      target_node, tag)
    values (#{edgeId,jdbcType=VARCHAR}, #{graphId,jdbcType=VARCHAR}, #{sourceNode,jdbcType=VARCHAR}, 
      #{targetNode,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuoyou.tavern.crm.workflow.entity.WorkFlowDefEdge">
    update workflow_def_edge
    set graph_id = #{graphId,jdbcType=VARCHAR},
      source_node = #{sourceNode,jdbcType=VARCHAR},
      target_node = #{targetNode,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR}
    where edge_id = #{edgeId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select edge_id, graph_id, source_node, target_node, tag
    from workflow_def_edge
    where edge_id = #{edgeId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select edge_id, graph_id, source_node, target_node, tag
    from workflow_def_edge
  </select>
</mapper>