<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowLogMessageMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowLogMessage">
    <id column="log_id" jdbcType="VARCHAR" property="logId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="has_attachment" jdbcType="VARCHAR" property="hasAttachment" />
    <result column="attachments_path" jdbcType="VARCHAR" property="attachmentsPath" />
    <result column="has_refund" jdbcType="VARCHAR" property="hasRefund" />
    <result column="refund_fee" jdbcType="DECIMAL" property="refundFee" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="refund_way" jdbcType="VARCHAR" property="refundWay" />
  </resultMap>
  <select id="selectWorkFlowLogMessagePage" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.WorkFlowLogVO">
    select
    t1.log_id logId,
    t1.operator,
    t1.operator_name operatorName,
    t1.create_time createTime,
    t1.message,
    t1.event_id eventId,
    t1.has_attachment hasAttachment,
    t1.attachments_path attachmentsPath,
    t1.has_refund hasRefund,
    t1.refund_fee refundFee,t2.`name` nodeName
    from workflow_log_message t1 LEFT JOIN workflow_def_node t2 on t1.node_id = t2.node_id
    <where>
      t1.event_id = #{eventId}
      <if test="operator != null ">
        <foreach collection="operator" index="index" item="item" open=" and (" close=" )" separator="or">
          t1.operator = #{item}
        </foreach>
      </if>
      <if test="curNodeId != null and curNodeId != ''">
        and t1.node_id = #{curNodeId}
      </if>
    </where>
    order by t1.create_time desc
  </select>
  <select id="selectWorkFlowGraphLog" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.WorkFlowGraphLog">
  select t4.`name`,
  t1.node_id nodeId,
  t1.operator,
  t1.node_id sourceNode,
  t1.next_node_id targetNode,
  t3.root_node rootNode
  from workflow_event_history t1,workflow_def_graph t3,workflow_def_node t4
  where
   t1.node_id = t4.node_id
  and t1.graph_id = t3.graph_id
  and t1.event_id = #{eventId}
  order by t3.root_node
  </select>
  <select id="selectWorkFlowGraphLog1" resultType="com.tuoyou.tavern.protocol.crm.model.workflow.WorkFlowGraphLog">
  select t4.`name`,
  t1.node_id nodeId,
  t1.operator,
--   t2.source_node sourceNode,
--   t2.target_node targetNode,
  t1.node_id sourceNode,
  t1.next_node_id targetNode,
  t3.root_node rootNode
  from workflow_event_history t1,workflow_def_graph t3,workflow_def_node t4
  where
--   t1.graph_id = t2.graph_id
  and t1.node_id = t4.node_id
  and t1.graph_id = t3.graph_id
--   and t2.graph_id = t3.graph_id
--   and t1.node_id = t2.source_node
--   and t1.next_node_id = t2.target_node
  and t1.event_id = #{eventId}
  order by t3.root_node
  </select>
  <insert id="insertRootWorkLog">
      insert into workflow_log_message (log_id, operator, operator_name,
    create_time, message, event_id,node_id
      )
        select
        #{log.logId},
        #{log.operator},
        #{log.operatorName},
        #{log.createTime},
        #{log.message},
        #{log.eventId},
        t2.root_node
        from workflow_def_graph_business_rel t1,workflow_def_graph t2
        where t1.graph_id = t2.graph_id
        and t1.business_id = #{businessId}
  </insert>
</mapper>