<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowEventMapper">
    <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowEvent">
        <id column="event_id" jdbcType="VARCHAR" property="eventId"/>
        <result column="graph_id" jdbcType="VARCHAR" property="graphId"/>
        <result column="cur_node_id" jdbcType="VARCHAR" property="curNodeId"/>
        <result column="event_owner" jdbcType="VARCHAR" property="eventOwner"/>
        <result column="cur_operator" jdbcType="VARCHAR" property="curOperator"/>
        <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate"/>
    </resultMap>
    <insert id="insertWorkFlowEvent">
      insert into workflow_event (event_id, graph_id, cur_node_id,
      event_owner, cur_operator, begin_date
      )
        select
        #{event.eventId},
        t2.graph_id,
        t3.target_node,
        t3.target_node,
        #{event.curOperator},
        #{event.beginDate}
        from workflow_def_graph_business_rel t1,workflow_def_graph t2,workflow_def_edge t3
        where t1.graph_id = t2.graph_id
        and t2.root_node = t3.source_node
        and t1.business_id = #{businessId}
  </insert>
</mapper>