<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.workflow.dao.WorkFlowEventDependencyMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.crm.workflow.entity.WorkFlowEventDependency">
    <id column="pre_event" jdbcType="VARCHAR" property="preEvent" />
    <result column="next_event" jdbcType="VARCHAR" property="nextEvent" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <select id="selectWorkFlowEventDependency" resultMap="BaseResultMap">
    select t1.pre_event, t1.next_event, t1.create_date
    from workflow_event t,workflow_event_dependency t1,workflow_def_graph t2
    where t.event_id = t1.pre_event_id
    and t.graph_id = t2.graph_id
    and t.cur_node_id = t2.end_node
    and t.event_id = #{eventId}
  </select>
</mapper>