<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.auth.dao.AuthMenuRoleRelMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.authcenter.model.AuthMenuRoleRel">
    <id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
    <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select MENU_ID, ROLE_ID, UPDATE_DATE
    from AUTH_MENU_ROLE_REL
  </select>
  <select id="selectPageRole" resultType="com.tuoyou.tavern.protocol.authcenter.model.AuthRoleInfo">
    select t1.role_id roleId from AUTH_MENU_ROLE_REL t1,AUTH_MENU t2
    where t1.MENU_ID = t2.MENU_ID
    and t2.TYPE = 1
    AND t2.MENU_URL = #{pageUrl}
    <foreach collection="list" separator=" or " open=" and ( " close=" )" item="item" index="index">
      t1.ROLE_ID = #{item}
    </foreach>
    limit 1
  </select>
</mapper>