<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.HrmRoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.hrm.model.HrmRoleInfo">
    <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="PARENT_ROLE" jdbcType="VARCHAR" property="parentRole" />
  </resultMap>
  <sql id="all">
    ROLE_ID, ROLE_NAME, PARENT_ROLE
  </sql>
  <select id="selectStaffRolePage" resultMap="BaseResultMap">
    select <include refid="all"/>
    from HRM_ROLE_INFO
    <where>
      <if test="query.roleName != null and query.roleName != ''">
        ROLE_NAME like concat('%', #{query.roleName}, '%')
      </if>
    </where>
  </select>
</mapper>