<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.crm.dao.HrmRoleAuthMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.protocol.hrm.model.HrmRoleAuth">
    <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <id column="ITEM" jdbcType="VARCHAR" property="item" />
    <result column="AUTH_TYPE" jdbcType="VARCHAR" property="authType" />
    <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType" />
  </resultMap>
  <sql id="all">
    ROLE_ID, ITEM, AUTH_TYPE, ITEM_TYPE
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="all"/>
    from HRM_ROLE_AUTH
  </select>
</mapper>