<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuoyou.tavern.hrm.dao.HrmUserBasicInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuoyou.tavern.hrm.entity.HrmUserBasicInfo">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_ACCNT" jdbcType="VARCHAR" property="userAccnt" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="IS_VALID" jdbcType="VARCHAR" property="isValid" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HRM_USER_BASIC_INFO
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuoyou.tavern.hrm.entity.HrmUserBasicInfo">
    insert into HRM_USER_BASIC_INFO (USER_ID, USER_NAME, USER_ACCNT, 
      PASSWORD, IS_VALID, UPDATE_DATE
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userAccnt,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{isValid,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuoyou.tavern.hrm.entity.HrmUserBasicInfo">
    update HRM_USER_BASIC_INFO
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_ACCNT = #{userAccnt,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select USER_ID, USER_NAME, USER_ACCNT, PASSWORD, IS_VALID, UPDATE_DATE
    from HRM_USER_BASIC_INFO
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select USER_ID, USER_NAME, USER_ACCNT, PASSWORD, IS_VALID, UPDATE_DATE
    from HRM_USER_BASIC_INFO
  </select>
</mapper>